<center>
  <br>
<h1>Contact Manager App</h1>
  <a href="/">
    <button type="button" name="button" class="btn  btn-primary"><span class="glyphicon glyphicon-scale"></span> Dashboard</button>
  </a>
  <a href="/contacts">
    <button type="button" name="button" class="btn  btn-default"><span class="glyphicon glyphicon-phone-alt"></span> Contacts</button>
  </a>
  <a href="/groups">
    <button type="button" name="button" class="btn  btn-default"><span class="glyphicon glyphicon-paperclip"></span> Groups</button>
  </a>
  <a href="/profiles">
    <button type="button" name="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Profiles</button>
  </a>
  <a href="/addresses">
    <button type="button" name="button" class="btn  btn-default"><span class="glyphicon glyphicon-map-marker"></span> Addresses</button>
  </a>
  <a href="/linked-groups">
    <button type="button" name="button" class="btn  btn-default"><span class="glyphicon glyphicon-link"></span> Linked Groups</button>
  </a>

</center>
<br><br>
