<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Address</title>
  </head>
  <body>
    <br><br>
     <%data.forEach(z=> { %>
        <form action="/address/edit/<%=z.id%>" method="post">
          <fieldset>
            <label><b>Jalan :  <b></label>
            <input type="text" name="jalan" value="<%= z.jalan %>"><br>
            <label><b>Kota :  <b></label>
            <input type="text" name="kota" value="<%= z.kota %>"><br>
            <label><b>Provinsi :  <b></label>
            <input type="text" name="provinsi" value="<%= z.provinsi %>"><br>
            <button type="submit">save</button>
         </fieldset>
    </form>
    <% }) %>
    <br><br>
      <a href="/address"><button type="link" name="button">Cancel</button></a>
  </body>
</html>
