<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit group</title>
  </head>
  <body>
    <h1>===Edit Group===</h1>
    <h2>
      <%dataG.forEach(function(d){ %>
      <form action="/groups/edit/<%=d.id%>" method="post">
        Group Name:<br>
        <input type="text" name="group" value="<%=d.name_of_group%>"><br><br>
        <button type="submit" name="button">Submit</button>
      </form>
    </h2>
    <%})%>
  </body>
</html>
