<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>SILAHKAN UBAH</h2>
    <form class="" action="/groups/edit/<%=data[0].id%>" method="post">
      <input type="text" name="name" value="<%= data[0].name %>">
      <button type="submit" name="submit">save</button>
    </form>
  </body>
</html>
