<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/group/edit-group/<%= data[0].id%>" method="post">
      <input type="text" name="name_of_group" value="<%= data[0].name_of_group %>">
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
