<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit groups</title>
  </head>
  <body>
    <h1>Edit Groups</h1>
    <form action="/groups/edit/<%=data[0].id%>" method="post">
    <label>Groups Name</label>
    <input type="text" name="name_of_groups" value="<%= data[0].name_of_groups%>">
    <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
