<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h2>ADD CONTACT</h2><br><br>
    <form action="/contact/add" method="POST">
    Name:<br>
    <input type="text" name="name" value="">
    <br><br>
    Company:<br>
    <input type="text" name="company" value="">
    <br><br>
    Telp:<br>
    <input type="text" name="telp" value="">
    <br><br>
    Email:<br>
    <input type="text" name="email" value="">
    <br><br>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
