<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Isi Data</title>
  </head>
  <body>
    <center>
    <form action="/home/contacts/add" method = "POST">
      <br>
      Name:<br>
      <input type="text" name="name" value="">
      <br><br>
      Company:<br>
      <input type="text" name="company" value="">
      <br><br>
      Nomor Telepon:<br>
      <input type="text" name="telp" value="">
      <br><br>
      Email:<br>
      <input type="text" name="email" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </center>
  </body>
</html>
