<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border="1">
       <thead>
        <tr>
          <th><p style="font-size:15px">Id</p></th>
          <th><p style="font-size:15px">Group Name</p></th>
        </tr>
      </thead>
      <tbody>
          <% data.forEach(d=> {%>
            <tr>
              <td><p style="font-size:15px"><%= d.id %></p></td>
              <td><p style="font-size:15px"><%= d.name_of_group %></p></td>
              <td><p style="font-size:15px"><a href="">Delete</a></p></td>
              <td><p style="font-size:17px"><a href="">Edit</a></p></td>
            </tr>
          <%})%>
      </tbody>
    </table>

    <br>
    <br>
    <form  action="/groups" method="post">
      <input type="number" name="id" placeholder="No"><br>
      <input type="text" name="name_of_group" placeholder="Input nama group"><br>
      <button type="submit">Save</button>
    </form>


  </body>
</html>
