<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>groups</title>
  </head>
  <body>
    <center><h1>Groups</h1></center>
    <div>
      <tr>
        <center>
        <table border="1">
        <th>ID</th>
        <th>Groups Name</th>
        <th>ACTION</th>
      </tr>
      <% data.forEach(d => { %>
      <tr>
        <td><%=d.id%></td>
        <td><%=d.name_of_groups%></td>
        <td><a href="/groups/edit/<%= d.id%>"><button type="button" name="button">Edit</button></a></td>
        <td><a href="/groups/delete/<%= d.id%>"><button type="button" name="button">Delete</button></a></td>
      </tr>
      <% }) %>
      </table>
    </center>
    </div>
    <center>
      <form action="/groups" method="post">
        <label>Groups Name</label>
        <input type="text" name="name_of_groups" placeholder="Input Your Groups">
        <button type="submit" name="button">Submit</button>
      </form>
    </center>
  </body>
</html>
