<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groups</title>
  </head>
  <body>
    <h1>Groups</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name of group</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(d =>{ %>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.name_of_group %></td>
          <td><a href="/groups/edit/<%= d.id %>">Edit</a></td>
          <td><a href="/groups/del/<%= d.id %>">Delete</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br><br><br>
    <form action="/groups" method="post">
      <input type="text" name="name_of_group" placeholder="name of group"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
