<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Groups Table</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Group</th>
        </tr>
      </thead>
      <tbody>
          <% data.forEach(z=> {%>
            <tr>
              <td><%= z.id %></td>
              <td><%= z.name_of_group %></td>
              <td><a href="/group/edit/<%= z.id %>">Edit</a></td>
              <td><a href="/group/delete/<%= z.id %>">Delete</a></td>
            </tr>
          <%})%>
      </tbody>
    </table>
    <br>
    <br>
    <form  action="/group" method="post">
        <input type="text" name="name_of_group" placeholder="Input your group name"><br><br>
        <button type="submit">Save</button>
    </form>
    <br>
    <a href="/">Home</a>
    <br>
  </body>
</html>
