<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FORM ISI DATA GROUP</title>
  </head>
  <body>

    <center>
      <h1>FORM ISI DATA GROUP</h1>
    <form action="/home/groups/add" method = "POST">
      Groups:<br>
      <input type="text" name="groups" value="">
      <input type="submit" value="Submit">
    </form>
  </center>
  </body>
</html>
