<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Form</title>
  </head>
  <body>
    <center>
    <h1>EDIT FORM</h1>
    <form action="/home/groups/edit/<%=data_groups[0].id%>" method = "POST">
      <br>
      Groups:<br>
      <input type="text" name="groups" value= "<%=data_groups[0].groups%>" >

      <input type="submit" value="Submit">
    </form>
  </center>

  </body>
</html>
