<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CONTACT AND GROUP</title>
  </head>
  <body>
    <center>
    <h1>WELCOME TO CONTACT APP</h1>
    <h2>Please choose your options</h2>
    <a href="/contact"><button type="Submit" name="Contact">Contact</button></a>
    <a href="/group"><button type="Submit" name="Group">Group</button></a>
    <center>
  </body>
</html>
