<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <title></title>
    <style>
      body {font-family: Montserrat, sans-serif;;}
    </style>
  </head>
  <body>
    <h1>Welcome!</h1>
    <ul>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/group">Group</a></li>
    </ul>
  </body>
</html>
