<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
      <h1>SELAMAT DATANG</h1>
      <h2>Pilih Database</h2>
    <a href = "/home/contacts"> <button type="button" name="buttons">Info Contacts</button></a>
    <a href = "/home/groups"> <button type="button" name="buttons">Info Groups</button></a>
    <a href = "/home/adresses"> <button type="button" name="buttons">Info Adresses</button></a>
    <a href = "/home/profiles"> <button type="button" name="buttons">Info Profiles</button></a>
  </center>
  </body>
</html>
