<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Person Database</h1>
    <a href="/contact">Contacts</a><br>
    <a href="/group">Groups</a><br>
    <a href="/address">Adresses</a><br>
    <a href="/profile">Profile</a>
  </body>
</html>
