<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= tampil %></h2>
    <a href="/contacts">contacts</a>
    <a href="/groups">group</a>
    <a href="/address">address</a>
    <a href="/profile">profile</a>
  </body>
</html>
