<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>WELCOME</title>
  </head>

  <body>
    <div class="title" align=center>
      <br>
      <br>
      <h1 align=center> <%= title %> </h1>
      <a href="/contacts">CONTACT</a>
      <a href="/groups">GROUP</a>
    </div>
  </body>

</html>
