<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Aplikasi CRUD Contact</h1>
    <a href="/contact">Contact</a>
    <a href="/group">Group</a>
    <a href="/profile">Profile</a>
  </body>
</html>
