<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to My Database</title>
  </head>
  <body>
    <h1>This Database for add and delete your contacts or your groups</h1>
    <form action="/contacts">
    <input type="submit" value="Contacts" />
    </form>
    <form action="/groups">
    <input type="submit" value="Groups" />
    </form>
  </body>
</html>
