<!DOCTYPE html>
<html>
  <head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    html, body {
    height: 100%;
    }

    html {
    display: table;
    margin: auto;
    }

    body {
    display: table-cell;

    }
    </style>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <h1>Selamat Datang</h1>
    <table>
      <tr>
        <th>Contacts</th>
        <th>Groups</th>
        <th>adresses</th>
        <th>profiles</th>
      </tr>
      <tr>
        <td><a href="/contacts">Contacts</a></td>
        <td><a href="/groups">Groups</td>
        <td><a href="/addresses">Addresses</td>
        <td><a href="/profiles">Profiles</td>
      </tr>
    </table>


  </body>
</html>
