<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>index</title>
</head>
<body>
  <h1>welcome, what do you want</h1>
  <a href="/contacs">add person</a>
  <a href="/contacs">edit person</a>
  <a href="/contacs">delete person</a>
  <a href="/group">groups member area</a>
  <a href="/group">groups member edit</a>
  <a href="/address">address</a>
  <a href="/profile">profile</a>
</body>
</html>
